$primary-text-color: #aaa7a5; /*body text color*/
$secondary-text-color: #f0ebe7;
$title-text-color: #212121; /*secondary title color*/
$accent-color: #383740; /*accent*/
$white-color: #ffffff; /*white color*/


body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #212121;
}

/*body.modal-open {
  overflow: hidden;
}*/

/*Zero indentation of headings and paragraphs*/
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/*responsive images*/
.box {
  background-image:  url('/css/images/my_photo_1.jpg');
   background-position:center;
   background-size:cover;
   margin: 0;
   padding: 0;
   margin-top: 20px;
   margin-bottom: 20px;;
   margin-left: auto;
   margin-right: auto;
   width:300px;
   height:300px;
   border-radius: 50%;
}

/*nullifying class*/
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-conteiner{
display: flex;
flex-direction: row-reverse;   
width: 1200px;
background-color: rgb(255, 255, 255);
margin: 15px auto;
box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/*Main content section*/
//.main-content-section{
    
//}

/*about me section*/
.about-me-section{
  background-color: $accent-color;
  border: 1px, solid, transparent;
 padding: 20px 40px;
}

.about-me-name{
  text-align: center;
   //margin-top: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    text-transform: uppercase;
    color: $secondary-text-color;
    padding-top: 50px;
}

.about-me-profession {
  padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
  
}

.about-me-summury {
margin-bottom: 20px;
color:  $secondary-text-color;
text-transform: uppercase;

}

.about-me-description{
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color:  $secondary-text-color;
}
///////////////////My projects section///////////

.my-projekts-section {
padding: 20px 40px;
}

.main-content-title {
  padding: 3px;
  margin-bottom: 20px;
  background-color: $accent-color;
  color:  $secondary-text-color;
  text-transform: uppercase;
}



.my-projekts-list {
  font-size: 14px;
  line-height: 24px;
}

.my-projekts-item {
  margin-bottom: 10px;
}

//My work experience section

.my-work-experience-section {
  padding: 20px 40px;
}
.my-work-experience-position{
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
}

.subtitle{
    font-size: 16px;
  line-height: 24px;
}

.my-work-experience-responsibilities {
   font-size: 14px;
  line-height: 24px;
}

.my-work-experience-responsibility{
  margin-bottom: 10px;
}

.my-work-experience-achievements {
  font-size: 14px;
  line-height: 24px;
}

//my education section

.my-education-section{
   padding: 20px 40px;
}

.my-work-experience-period{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
}
//sidebar section///////////////
.sidebar-section{
  background-color: #f0ebe7;
  width: 500px;
}
/////////////contacts section/////////

//.contacts-section{
 
//}
.contacts-list{
    margin-bottom: 3px;
  font-size: 14px;
  line-height: 24px;
}

//tech skill section
.tech-skills-list{
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 24px;
}

//soft skills section
.soft-skills-list{
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 24px;
}

//language skills
.language-skills-list{
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 24px;
}
